* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font: normal  16px -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.9;
  color: white;
  font-weight: bold;
}

a:hover {
  opacity: 1;
  text-decoration: underline;
}

/* Header Style */

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

header nav ul {
  background: #00cec9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav ul li {
  margin: 15px 23px 20px;
}